[user]
        name = Alex K
        email = alex.lumir@gmail.com
[alias]
        put = push origin
        co = checkout
        st = status
        ftch = fetch -p
	pl = pull --rebase
	br = branch
[push]
        default = simple
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
	required = true

[core]
	excludesfile = ~/.gitignore
