[user]
        name = Alexey Kondratov
        email = kondratov.aleksey@gmail.com
[alias]
        put = push origin
        co = checkout
        st = status
        ftch = fetch -p
	pl = pull --rebase
	br = branch
	viz = log --graph --decorate --oneline --all
        l = log --pretty='%C(yellow)%h%Creset %ai by %Cgreen%an (%ae)%Creset%Cred%d%Creset: %s' -n 15
	lg = log --pretty='%C(yellow)%h%Creset %ai by %Cgreen%an (%ae)%Creset%Cred%d%Creset: %s'
	parent = !git log --oneline --merges "$@" | grep into | sed 's/.* into //g' | head -n 10
[push]
        default = simple
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	excludesfile = ~/.gitignore
	editor = vim
