[user]
    name = Alexey Kondratov
    email = kondratov.aleksey@gmail.com
[alias]
    put = push origin
    co = checkout
    cp = cherry-pick
    st = status
    br = branch
    # b = !git branch | grep '*' | sed -e 's/^\\*\\s//g'
    b = rev-parse --abbrev-ref @
    pl = pull --rebase
    fp = fetch -p
    viz = log --graph --decorate --oneline --all
    l = !git --no-pager log --pretty='%C(yellow)%h%Creset %ai by %Cgreen%an (%ae)%Creset%Cred%d%Creset: %s' -n 15
    lg = log --pretty='%C(yellow)%h%Creset %ai by %Cgreen%an (%ae)%Creset%Cred%d%Creset: %s'
    lp = !git l --first-parent
    lr = log --oneline --reverse
    commit-fixup = !git commit --fixup=@ && git rebase -i --autosquash @~2
    parent = !git log --oneline --merges "$@" | grep into | sed 's/.* into //g' | head -n 10
    #check = !sh -c 'git branch --contains $1 2>&1 | grep -q $(git rev-parse --abbrev-ref @) && echo INCLUDED' -
    check = !sh -c 'git merge-base --is-ancestor $1 @ && echo INCLUDED || echo "NOT INCLUDED"' -
    checkall = !sh -c 'git branch -a --contains $1' -
    subtrees = !sh -c 'git log | grep git-subtree-dir | cut -d ":" -f2 | sort | uniq' -
    aliases = config --get-regexp '^alias\\.'
[push]
    default = current
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
    process = git-lfs filter-process
[core]
    excludesfile = ~/.gitignore
    editor = vim
	pager = less -x1,5
	autocrlf = false
